DeviceManagement/WebContent/wsdl/Device.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.gcm.mbis.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.gcm.mbis.com" xmlns:intf="http://service.gcm.mbis.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.gcm.mbis.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="RegisterDevice">
    <complexType>
     <sequence>
      <element name="DeviceId" type="xsd:string"/>
      <element name="RegId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="RegisterDeviceResponse">
    <complexType>
     <sequence>
      <element name="RegisterDeviceReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="RegisterDeviceResponse">

      <wsdl:part element="impl:RegisterDeviceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RegisterDeviceRequest">

      <wsdl:part element="impl:RegisterDevice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Device">

      <wsdl:operation name="RegisterDevice">

         <wsdl:input message="impl:RegisterDeviceRequest" name="RegisterDeviceRequest">

       </wsdl:input>

         <wsdl:output message="impl:RegisterDeviceResponse" name="RegisterDeviceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeviceSoapBinding" type="impl:Device">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="RegisterDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RegisterDeviceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="RegisterDeviceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DeviceService">

      <wsdl:port binding="impl:DeviceSoapBinding" name="Device">

         <wsdlsoap:address location="http://localhost:8080/DeviceManagement/services/Device"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
